@charset "UTF-8";

/* Dividido pelas 4 páginas --- */
.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.square
{
    width: 790px;
    height: 790px;
    margin-top: 180px;
}

img
{
    display: block;
    width: 32%;
    margin: 0 auto;
    padding-bottom: 4%;
}

a:link
{
    color: rgb(0, 0, 0);
}

footer
{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: rgb(0, 0, 0);
}

footer p
{
    padding-left: 5%;
}
/* ------------------------- */


/* css das páginas de Cadastro --- */
#linha
{
    display: block;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid;
}

#redirecionamento_cadastro
{
    display: block;
    margin: 0 auto;
    padding-left: 380px;
    padding-top: 19px;
}

#botao_cadastro
{
    display: block;
    width: 59%;
    height: 30px;
    margin: 20px auto;
    border-radius: 15px;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(56, 56, 56);
}
/* ------------------------- */


/* css das páginas de Login --- */
#linha_login
{
    display: block;
    width: 52%;
    margin: 0 auto;
    border-bottom: 1px solid;
}

#redirecionamento_login
{
    display: block;
    margin: 0 auto;
    padding-left: 365px;
    padding-top: 19px;
}

#botao_login
{
    display: block;
    width: 59%;
    height: 25px;
    margin: 20px auto;
    border-radius: 15px;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(56, 56, 56);
}
/* ------------------------- */