@charset "UTF-8";
/* Dividido pelas 4 páginas */
.square
{
    width: 40%;
    position: absolute;
    left: 29%;
    top: 7%;
    padding: 20px 20px 20px 20px;
}

img
{
    width: 35%;
    display: block;
    margin: 0 auto;
    padding-bottom: 4%;
}

footer p
{
    padding-top: 47%;
    padding-left: 5%;
}
/* ------------------------- */


/* css das páginas de Cadastro */
#linha
{
    margin: 0 auto;
    display: block;
    width: 75%;
    border-bottom: 1px solid;
}

#redirecionamento_login
{
    padding-left: 380px;
    margin: 0 auto;
    display: block;
    padding-top: 19px;
}

#botao_cadastro
{
    width: 55%;
    height: 30px;
    border-radius: 15px;
    display: block;
    background-color: #383838;
    color: white;
    margin: 20px auto;
    border: 1px solid #383838;
}
/* ------------------------- */


/* css das páginas de Login */
#linha_login
{
    width: 100%;
    border-bottom: 1px solid;
}

#redirecionamento_cadastro
{
    padding-left: 135px;
    margin: 0 auto;
    display: block;
    padding-top: 19px;
}

#botao_login
{
    width: 55%;
    height: 30px;
    border-radius: 15px;
    display: block;
    background-color: #383838;
    color: white;
    margin: 20px auto;
    border: 1px solid #383838;
}
/* ------------------------- */