<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Criar conta - Médico</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/medico_cadastro.css" />
        <link rel="stylesheet" type="text/css" href="css/geral.css" />
    </head>
    <body>
        <div class="container">
            <div class="square">
                <img alt="Logo Mamãe" src="imgs/stethoscope.png">
                <form method="post"  action="form">
                    <div>
                        <input type="text" value="" placeholder="Nome" name="nome" id="nome" />
                    </div>
                    <div>
                        <input type="text" value="" placeholder="CRM" name="cpf" id="crm" />
                    </div>
                    <div>
                        <input type="text" value="" placeholder="E-mail" name="email" id="email" />
                    </div>
                    <div>
                        <input type="password" value="" placeholder="Senha" name="senha" id="password" />
                    </div>
                    <div>
                        <input type="password" value="" placeholder="Confirmar Senha" name="Csenha" id="Cpassword" />
                    </div>
                    <div>
                        <input type="submit" value="Cadastrar" id="botao_cadastro" />
                    </div>
                    <div class="dentro">
                        <div id="linha"></div>
                        <p id="redirecionamento_login">Já tem uma conta? <a href="#">Ir para login</a></p>
                    </div>
                </form>
            </div>
            <footer>
                <p>&copy; by 7Team</p>
            </footer>
        </div>
    </body>
</html>
