@charset "UTF-8";
body 
{
	background-color: #e1c7dc;
}

#nome 
{
	size: 3;
	width: 55%;
	text-align: center;
	height: 25px;
	border-radius: 20px;
	display: block;
	margin: 10px auto;
	opacity: 0.5;
  	border: 1px solid black;
}

#cpf 
{
	size: 3;
	width: 55%;
	text-align: center;
	height: 25px;
	border-radius: 20px;
	display: block;
	margin: 10px auto;
	opacity: 0.5;
  	border: 1px solid black;
}

#inicio 
{
	size: 3;
	width: 55%;
	text-align: center;
	height: 25px;
	border-radius: 20px;
	display: block;
	margin: 10px auto;
	opacity: 0.5;
  	border: 1px solid black;
}

#email 
{
	size: 3;
	width: 55%;
	text-align: center;
	height: 25px;
	border-radius: 20px;
	display: block;
	margin: 10px auto;
	opacity: 0.5;
  	border: 1px solid black;
}

#password 
{
	size: 3;
	width: 55%;
	text-align: center;
	height: 25px;
	border-radius: 20px;
	display: block;
	margin: 10px auto;
	opacity: 0.5;
  	border: 1px solid black;
}

#Cpassword 
{
	size: 3;
	width: 55%;
	text-align: center;
	height: 25px;
	border-radius: 20px;
	display: block;
	margin: 10px auto;
	opacity: 0.5;
  	border: 1px solid black;
}