@charset "UTF-8";
body
{
    background-color: #4797ad;
}

.dentro
{
    display: block;
    margin: 0 auto;
    width: 50%;
}

#crm
{
    size: 3;
    width: 55%;
    text-align: center;
    height: 25px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    opacity: 0.5;
    border: 1px solid black;
}

#password
{
    size: 3;
    width: 55%;
    text-align: center;
    height: 25px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    opacity: 0.5;
    border: 1px solid black;
}
